$primary-color: #FF0049;
$secondary-color: #002B45;
$terciary-color: #FFF1E5;
$grey-border-color: #ababab;
$text-dark-blue: #345568;
$title-darknes: #0c2e47;
$button-dark-blue: #092a45;
$button-pink:#e41b5e;
$bar-danger: #f44336;
$bar-warning: #ffc107;
$bar-success: #28a745;
$bg-bar:#ccd5db;
$circle-bar: #788f9b;
$under-bar-title: #40c3df;

$white: #FFFFFF;
$black: #000000;