@import '_base' ;

.stantard {
  border: none;
  background: transparent;
  font-size: 1em;
  font-weight: bold;
  padding: 1.5em;
}

.dark {
  @extend .stantard;
  background: $button-dark-blue;
  color: $white;

  &::after {
    content: ' \003e ';
  color: $white;
  }
}

.pink {
  @extend .stantard;
  background: transparent;
  color: $button-pink;

  &::after {
    content: ' \003e ';
  }
}
