.card-image {
  display: inline-block;
  width: 100%;
  margin-bottom: 2em;
  @media (min-width: 768px) {
    display: grid;
    display: -ms-grid;
    width: 50%;
    margin-bottom: 1em;
  }

  .image {
    display: block;
    margin: auto;
  }
  .text {
    display: block;
    margin: auto;
    width: 80%;
    text-align: center;
  }
}
