@import '_base' ;

.card {
  &-form {
    max-width: 800px;
    border: 1px solid $grey-border-color;
    .card-section {
      .input-container {
        display: flex;
        margin-right: 2em;
      
        .field-container {
          display: inline-block;
          width: 281px;
          position: relative;
        }
        .eye-container {
          cursor: pointer;
        }
        span {
          top: 0;
          content: '';
          position: absolute;
          display: block;
          font-size: 0.2em;
          height: 0.4em;
          width: 60%;
          color: $primary-color;
        }
        label {
          color: $text-dark-blue;
          font-style: 1.2em;
          font-weight: 900;
        }
        input {
          border: 1px solid $grey-border-color;
          margin-top: 1em;
          font-size: 1em;
          width: 230px;
          padding: 10px;
          border-radius: 5px;
        }
        input,
        label {
          display: block;
        }
        .progress-bar {
          max-width: 230px;
          position: absolute;
          height: 5px;
          top: 71px;
          border-radius: 2px;
        }
        .danger {
          width: 20%;
          background-color: $bar-danger;
        }
        .warning {
          width: 50%;
          background-color: $bar-warning;
        }
      
        .success {
          width: 100%;
          background-color: $bar-success;
        }
        .error {
          color:$primary-color;
        }
        .macht {
          color:$bar-success;
        }
      }
      
    }
    .container {
      padding: 1.5em;
      display: flex;
      justify-content: space-between;
      border-top: 0.02em solid $grey-border-color;
    }
  }
}
