.card {
  &-info {
    border: 1px solid #989fa4;
    display: grid;
  }
  &-section {
    display: flex;
    flex-direction: column;
    padding: 0 1.8em;
    gap: 0.8em;
    .image {
      @media (min-width: 768px) {
        display: flex;
      }
    }
  }
}
