.card {
  &-info {
    max-width: 800px;
    border: 1px solid #989fa4;
    display: grid;
    .checkbox {
      display: flex;
      position: relative;
      &-input {
        position: absolute;
        top: 5px;
      }
      .text {
        color: #345568;
        margin-left: 2em;
      }
    }
    .container {
      padding: 1.5em;
      display: flex;
      justify-content: space-between;
      border-top: 0.02em solid #ababab;
    }
  }
  &-section {
    display: flex;
    flex-direction: column;
    padding: 1.8em;
    gap: 0.8em;
    .image {
      @media (min-width: 768px) {
        display: flex;
      }
    }
  }
}
