body {
    @media (min-width: 768px) {
      height: 100%vh;
      display: flex;
      margin: 100px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }


.card {
    &-info {
        border: 1px solid #989FA4;
        display: grid;
        gap: 1.2em;
        
    }
    &-section {
        display: flex;
        flex-direction: column;
        padding: .8em;
        gap: .8em;
        .image {
            @media (min-width: 768px) {
            display: flex;
            }
        }
    }

    
    
}