.input-container {
  display: flex;
  margin-right: 2em;

  .field-container {
    display: inline-block;
    width: 281px;
    position: relative;
  }
  .eye-container {
    cursor: pointer;
  }
  span {
    top: 0;
    content: '';
    position: absolute;
    display: block;
    font-size: 0.2em;
    height: 0.4em;
    width: 60%;
    color: red;
  }
  label {
    color: #345568;
    font-style: 1.2em;
    font-weight: 900;
  }
  input {
    border: 1px solid #ababab;
    margin-top: 1em;
    font-size: 1em;
    width: 230px;
    padding: 10px;
    border-radius: 5px;
  }
  input,
  label {
    display: block;
  }
  .progress-bar {
    max-width: 230px;
    position: absolute;
    height: 5px;
    top: 71px;
    border-radius: 2px;
  }
  .danger {
    width: 20%;
    background-color: #f44336;
  }
  .warning {
    width: 50%;
    background-color: #ffc107;
  }

  .success {
    width: 100%;
    background-color: #28a745;
  }
  .error {
    color:red;
  }
  .macht {
    color:#28a745;
  }
}
