@import '_base' ;

.progress-bar {

  background-color: $bg-bar;
  .FormStepList {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95px;
    margin: auto;
    width: 200px;
  }

  .FormStepList-item {
    flex: 1 1 20px;
    text-align: center;
    list-style: none;

    &:before {
      content: none ;
      display: none ;
    }
  }

  .FormStepIcon {
    display: inline-block;
    width: 40px;
    text-align: center;
    position: relative;

    &.is-active {
      
      .FormStepIcon-circle {
        background: $title-darknes;
        transform: scale(1.1, 1.1);
        color: $white;
      }
    }

    &.is-passed {
      &:after {
        background: $circle-bar;
      }

      .FormStepIcon-circle {
        background: $circle-bar;
        color: $white;
      }
    }

    &:after {
      content: '';
      background: $circle-bar;
      position: absolute;
      right: -100%;
      top: 20px;
      left: 10px;
      height: 4px;
      z-index: 1;
    }

    &.FormStepIcon--last {
      &:after {
        background: $bg-bar;
      }
    }
  }

  .FormStepIcon-circle {
    background: $circle-bar;
    color: $white;
    font-size: 16px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  .FormStepIcon-title {
    display: block;
    font-size: 0.7em;
    margin-top: 0.5em;
  }
}
