@import '_base' ;

.text-area {
  
  > div {
    width: 90%;
  }
  input {
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: 1px solid $grey-border-color;
    margin-top: 1em;
    padding: 10px;
    height: 40px;
    width: 100%;
    border-radius: 5px;
  }
  label {
    color: $text-dark-blue;
    font-style: 1.2em;
    font-weight: 900;
  }
  input,
  label {
    display: block;
  }
  .counter {
    text-align: end;
  }
}
