@import '_base' ;

.title {
  font-size: 2.2em;
  font-weight: bold;

  &::after {
    // display: inline-block;
    content: '';
    height: 0.1em;
    width: 2em;
    background-color: $under-bar-title;
    margin: 10px 0;
    display: block;
  }
}
